body {
  background-color: #383838;
}

h1, h2 {text-align: center; color: white}
p {text-align: center; color: white;}
a {text-align: center; color: teal;}
div {text-align: center;}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 15%;
  width: 15%;
}