body {
  background-color: #383838;
  font-family: 'Courier New', monospace;
  text-align: center;
  color: white;

}
a {color: teal;}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 15%;
  width: 15%;
}