@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
    box-sizing: inherit;
}

label,
button {
    cursor: pointer;
}

figure {
    margin-inline: 0;
    margin-block: 0.25rem;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-size: inherit;
    line-height: 1.1;
}

* {
    scrollbar-color: #484e51 #222526;
}


body {
    box-sizing: border-box;
    display: flex;
    grid-template-columns: var(--expanded) 1fr;
    grid-template-rows: 100vh;
    margin: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-image: -webkit-image-set("https://static.bandainamcoent.eu/high/elden-ring/elden-ring-nightreign/04-character-gallery/03-background-perso/ern-background-2160x2091.jpg");
}

:root {
    --bg--primary: #26292a;
    --bg--active: rgba(36, 39, 40, 0.7);
    --bg--hover: #313638;
    --bg--focus: #191b1c;
    --gray--primary: #a09687;
    --gray--secondary: #c1bbb0;

    --dark--primary: #ddd8d2;
    --dark--secondary: hsl(203, 4%, 29%);

    --accent--primary: rgba(60, 173, 255, 0);
    --accent--secondary: rgba(18, 97, 156, 0);

    --expanded: 16.875rem;
    --img: 2.25rem;
    --item: 2.25rem;
    --brad-outer: 0.75rem;
    --frame-space: 0.5rem;
    --brad-inner: calc(var(--brad-outer) - var(--frame-space));
}

.vertical-sidebar {
    display: flex;
    inline-size: var(--expanded);
    margin: 0.5rem;
    flex-basis: 16.875rem;
}

nav {
    background: var(--bg--primary);
    display: flex;
    flex-flow: column;
    border-radius: var(--brad-outer);
    flex: 0 0 auto;
    padding: var(--frame-space);
    flex-basis: 16.875rem;
    box-shadow: 0 3px 5px #1233, 0 5px 17px #0003;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.5rem;
}


figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    container-type: inline-size;
    gap: 0.375rem;
}

.codepen-logo {
    margin-inline: auto;
    display: block;
    min-inline-size: 2.25rem;
    max-inline-size: 45cqi;
    aspect-ratio: 1;
    block-size: 100%;
    object-fit: cover;
}

figcaption {
    text-align: center;
}

.user-id {
    font-size: 1.0625rem;
    font-weight: 500;
    margin-block-end: 0.25rem;
    color: var(--gray--secondary);
}

.user-role {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray--primary);
}

.sidebar__wrapper {
    --list-gap: 0.5rem;
    display: flex;
    flex-flow: column;
    gap: var(--list-gap);
}

.sidebar__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.125rem;
    overflow: hidden;
}

.sidebar__item {
    block-size: var(--item);
    border-radius: var(--brad-inner);
}

.item--heading {
    display: flex;
    align-items: end;
}

.sidebar__item--heading {
    margin-block-end: 0.4rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    font-weight: 500;
    color: var(--gray--primary);
}

.sidebar__list:has(.sidebar__link):hover .sidebar__item--heading {
    color: var(--gray--secondary);
}

.sidebar__link {
    display: flex;
    text-decoration: none;
    block-size: 100%;
    align-items: center;
    gap: 0.5rem;
    outline: 2px solid transparent;
    border-radius: inherit;
}


.icon img {
    place-self: center;
    inline-size: var(--img);
    block-size: var(--img);
    fill: var(--gray--primary);
}

.text {
    pointer-events: none;
    color: var(--gray--secondary);
    font-size: 0.875em;
    font-weight: 500;
}

.sidebar__link:hover {
    background: var(--bg--hover);
}

.sidebar__link:hover .icon img {
    fill: var(--accent--primary);
}

.sidebar__link:hover .text {
    color: var(--dark--primary);
}

.sidebar__link:focus {
    outline: 2px solid var(--accent--secondary);
    outline-offset: -2px;
    background: var(--bg--focus);
}

.sidebar__link:focus .icon img {
    fill: var(--accent--primary);
}

.sidebar__link:active {
    background-color: var(--bg--active);
}

.background-character-portrait>img {
    position: absolute;
    height: 100%;
}

.list-container {
    align-self: start;
    overflow-y: auto;
    max-height: 100vh;
    max-width: fit-content;

    background: var(--bg--primary);
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: var(--brad-outer);
    box-shadow: 0 3px 5px #1233, 0 5px 17px #0003;
    min-inline-size: 320px;
    max-inline-size: 90vw;
    max-block-size: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.125rem;
    overflow: hidden;
}

.item_entry {
    display: flex;
    block-size: 100%;
    align-items: center;
    gap: 0.5rem;
    outline: 2px solid transparent;
    border-radius: inherit;
}

.item_checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.title {
    align-self: center;
    color: #F4F2EE;
}

input[type="checkbox"] {
    accent-color: rgb(40, 82, 218);
}

.sidebar__link.selected {
    background: var(--bg--hover);
    color: var(--dark--primary);
    font-weight: 600;
}

.flexed {
    gap: 0;
    padding: 0;
    margin: 0;
    width: 800px;
    display: flex;
    flex-flow: row wrap;
}


.SkinIcon img {
    place-self: center;
    fill: var(--gray--primary);
    inline-size: 2.25rem;
    block-size: 25%;
    padding: 0.01rem;
}
a{
    color: rgb(160, 150, 135);
}