body {
  margin: 0;
  min-height: 100vh;
  background-image: url(src/img/Abiotic_Factor_Key_Art_logoless_1920x1080.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Poppins, sans-serif;
}
a {
  font-weight: 800;
  color: #8cfffa;
  text-shadow: 2px 2px 2px #114e52;
  margin: 0;
}
#buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-height: 100svh;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(2.5rem, 6vw, 5.3rem);
  font-weight: 800;
  color: #8cfffa;
  text-shadow: 2px 2px 2px #114e52;
  margin: 0;
}

#timer {
  font-size: clamp(2.5rem, 6vw, 5.3rem);
  font-weight: 800;
  color: #8cfffa;
  text-shadow: 2px 2px 2px #114e52;
}

#LeyakButton {
  background: url(src/img/LeyakButton.png) no-repeat center / contain;
  border: none;
  cursor: pointer;
  user-select: none;

  width: min(60vw, 250px);
  aspect-ratio: 249 / 425;

  transition:
    filter 0.2s ease,
    transform 0.2s ease;
}

#LeyakButton:hover {
  transform: scale(1.03);
}

#LeyakButton.paused {
  filter: grayscale(100%);
}

@media (max-height: 600px) {
  #LeyakButton {
    width: min(45vw, 200px);
  }
}
